.header-container {
    width: 100%;
    padding: 10px;
    background-color: black;
    flex: 1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

    h3 {
        color: #fff;
        flex: 2;
    }

    .header-link {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}